version: 2
jobs:
  build:
    docker:
      - image: elixir:1.4.2

    working_directory: ~/ex_lcd

    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: MIX_ENV=test mix deps.get
      - run: MIX_ENV=test mix compile

      # Run tests
      - run: MIX_ENV=test mix test
